@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

ol li {
  padding: 10px 0;
}

footer{
  margin-top:50px;
  padding:20px;
  background-color: #014C73;
  a{
    color: #FAFDFF;
    font-size:14px;
    &:hover{
      color: #fff;
    }
  }
  color: #FAFDFF;
  font-size:14px;
  p{
    margin:0;
    font-size: 14px;
  }
  ul {
    margin-bottom:0!important;
  }
}

.help{
  background: #A03479!important;
}

.common {
  background: #34A052 !important;
}

.critical{
  background: #9B3232!important;
  color: #FFF!important;
}

.amber{
  background: #C74E09!important;
  color: #FFF!important;
}

.safe{
  background: #4B9B32!important;
  color: #FFF!important;
}

.panel {
  p{
    font-size: 14px;
  }
}

.heading{
  border-bottom:8px solid #00263A;
}

.warn {
  border-color: #FFE8B6!important;
  background: #FFF8EC!important
}

.panel.callout.warn {
  h5 {
    color: #805700;
    font-weight: 500;
  }
  p {
    color: #815902;
  }
}